<ion-view name="tab-item" view-title="Color.in">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="btn-white  ion-chevron-left header-icon-size back" back  ></button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-content>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">

  <div class="banner-container-home">
    <img class="banner-home" src="{{item.banner}}">
  </div>
  <div class="list card">
    <div ng-class="myDynamicClass" class="item item-avatar itemHomeInfo">
      <img src="../img/perry.png">
      <h2>{{item.artName}}</h2>
      <p ng-click="goProfile(item)">{{item.username}}</p>
    </div>
    <img class="full-image" src="{{item.artImg}}">
  <div ng-class="myDynamicClass2" class="item item-body itemHome">
    <div class="row rowSenses" ng-class="{ 'hidden': ! showSenses }">
      <div class={{sense.colorClass}} ng-repeat="sense in senses" ng-click="senseInsert(item.artName, sense.colorName)">
        <div class={{sense.squareClass}}></div>
      </div>
    </div>
    <div class="list colabBox" ng-class="{ 'hidden': ! showColabs }">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Collab" ng-model="collabText">
      </label>
      <button class="button button-small" ng-click="collabInsert(item.artName, collabText)">
        Submit
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-33 colSenseHome" ng-click="showSenses = ! showSenses"><i class="ion-ios-heart"></i>{{item.sense.length}}</div>
    <div class="col col-33 colColabHome" ng-click="showColabs = ! showColabs"><i class="ion-ios-chatboxes"></i>{{item.collab.length}}</div>
    <div class="col col-33 colViewHome"><i class="ion-ios-eye" ng-click="view\Item()"></i> 109</div>
  </div>
      <div class="col itemColabs" ng-repeat="colla in item.collab">
        <strong>{{  colla.username}} </strong>{{colla.collabText}}</div>
  </div>
  </div>
</ion-content>
</ion-view>
