<ion-view name="tab-item" view-title="Color.in">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-assertive btn-white  ion-chevron-left header-icon-size" ng-click="backButton()"></button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-content>
  <div class="banner-container-home">
    <img class="banner-home" src="../img/flower.jpg">
  </div>
  <div class="list card">
    <div class="item item-avatar itemItemInfo">
      <img src="../img/perry.png">
      <h2>Art Name</h2>
      <p>by Artist</p>
    </div>
  <div class="item item-body itemItem">
    <img class="full-image" src="../img/art2.jpg">
      <div class="row">
        <div class="col col-50"><i class="ion-ios-heart"></i> SENSE</div>
        <div class="col col-50"><i class="ion-ios-eye"></i> VIEWS</div>
      </div>
      <div class="col itemColabs"><strong>COLABS:</strong>nice</div>
  </div>
  </div>
</ion-content>
</ion-view>
