<ion-view hide-tabs name="tab-item" view-title="Color.in">
  <ion-content class="perfil">
    <div class="banner-container-home">
      <img class="banner-home" src="../img/bannercolorin.jpg">
    </div>
    <div class="loginForm">
      <div class="list list-inset entrada">
        <label class="item item-input user">
          <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input password">
          <input type="text" placeholder="Password" ng-model="data.password">
        </label>
      </div>
    <div>
      <div class="row">
        <div class="col">
        <button class="button button-outline button-assertive buttonSign" ng-click="logar()">
          Sign In
        </button>
        </div>
        <div class="col">
        <button class="button button-outline button-positive buttonSup" ng-click="registrar()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
  </div>
  </ion-content>
</ion-view>
