<ion-view view-title="Color.in">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
  <ion-content>
    <label class="item item-input col-12">
    <input type="text" class="col-12" placeholder="Search" ng-model="search.query" ng-click="buscar()">
    <button class="button button-small">
      <i class="icon ion-search placeholder-icon" ></i>
    </button>
  </label>
  <div class="row rowSearch">
    <div ng-repeat="item in items" class="col col-50 itemSearch">
    <div class="item item-body itemSearch">
      <div class="square">
       <div class="content">
      <img class="full-image search" ng-src="{{item.artImg}}">
      </div>
        </div>
      </div>
      <div class="row rowSearchItem" ng-click="viewInsert(item.artName); goItem(item)">
        <div class="col col-33 colSenseSearch"><i class="ion-ios-heart"></i>{{item.sense.length}}</div>
        <div class="col col-33 colColabSearch"><i class="ion-ios-chatboxes"></i>{{item.collab.length}}</div>
        <div class="col col-33 colViewSearch"><i class="ion-ios-eye"></i>{{item.view.length}}</div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
