<ion-view name="tab-item" view-title="Color.in">
  <ion-content class="perfil">
    <section class="Register_name">
      <div class="list list-inset entrada">
        <label class="item item-input user">
          <input type="text" placeholder="Username" ngmodel="username">
        </label>
        <label class="item item-input password">
          <input type="text" placeholder="Password" ngmodel="password">
        </label>
      </div>
    </section>
    <section>
      <br>
      <div class="buttons">
        <button class="button button-assertive btnsin" ng-click="logar()">
          Sign In
        </button>
        <br>
        <button class="button button-positive btnsup" ng-click="registrar()">
          Sign Up
        </button>
      </div>
    </section>

  </ion-content>
</ion-view>
