<ion-view hide-tabs name="tab-item" view-title="Color.in">
  <ion-content class="perfil">
    <ks-swiper-container initial-slide="0" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="1" space-between="5" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}">
        <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6]">
            <img ng-src="../img/swiper-{{s}}.jpg" width="100%">
        </ks-swiper-slide>
    </ks-swiper-container>
    <button class="button button-block button-calm buttonFinish" ng-click="goLogin()">Done</button>
  </ion-content>
</ion-view>
