<ion-view name="tab-item" view-title="Color.in">
  <ion-content class="perfil">

    <section>
        <div class="Register_h1">
          <p>Color.in interaction</p>
        </div>
        <ul class="list">
          <li class="item item-toggle">
             <p> Transparent: only appreciate Color.in </p>
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>
        <div class="Register_h1">
          <p>Producer Settings</p>
        </div>
        <label class="item item-input">
          <textarea placeholder="Description"></textarea>
        </label>
        </div>
        <button ng-click="registrarp2()">
          Finish
        </button>
    </section>
  </ion-content>
</ion-view>
