<ion-view view-title="Color.in">
  <ion-nav-buttons side="right">
      <button class="button button-assertive btn-white ion-navicon-round header-icon-size " ng-click="openDrawer()"></button>
  </ion-nav-buttons>
  <ion-content>
    <label class="item item-input col-12">
      <i class="icon ion-search placeholder-icon" ></i>
    <input type="text" class="col-12" placeholder="Search">
  </label>
  <div class="row rowSearch">
    <div ng-repeat="item in items" class="col col-50 itemSearch">
       <div class="square">
        <div class="content">
          <img class="imgSearch" ng-src="{{item}}" ng-click="item()">
        </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
