<ion-view name="tab-item" view-title="Color.in">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-assertive btn-white  ion-chevron-left header-icon-size" ng-click="backButton()"></button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-content>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">

  <div class="banner-container-home">
    <img class="banner-home" src="../img/bannercolorin.jpg">
  </div>
  <div class="list card">
    <div class="item item-avatar itemHomeInfo">
      <img src="../img/perry.png">
      <h2>{{data.artName}}</h2>
      <p>{{data.username}}</p>
    </div>
    <img class="full-image" src="{{item.artImg}}">
  <div class="item item-body itemHome">
      <div class="row">
        <div class="col col-50 colSenseHome"><i class="ion-ios-heart"></i> 100</div>
        <div class="col col-50 colViewHome"><i class="ion-ios-eye"></i> 130</div>
      </div>
      <div class="col itemColabs"><strong>User: </strong> nice</div>
      <div class="list">
        <div class="item item-input-inset colabBox">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Colab" class="inputColab">
          </label>
          <button class="button button-small">Submit</button>
        </div>
      </div>
  </div>
  </div>
</ion-content>
</ion-view>
