<ion-view view-title="Color.in">
  <ion-content>
    <ion-refresher
    pulling-text="Pull To Refresh"
    pulling-icon="ion-chevron-down"
    spinner="ripple"
    refreshing-text="Refreshing"
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="banner-container-home">
      <img class="banner-home" src="../img/flower.jpg">
    </div>
    <div ng-repeat="item in items" class="list card">
      <div class="item item-avatar itemHomeInfo">
        <img ng-src="{{item}}">
        <h2>ART NAME</h2>
        <p>by Artist</p>
      </div>
    <div class="item item-body itemHome">
      <img class="full-image" ng-src="{{item}}">
        <div class="row">
          <div class="col col-33"><i class="ion-ios-heart"></i> SENSE</div>
          <div class="col col-33"><i class="ion-ios-chatboxes"></i> COLABS</div>
          <div class="col col-33"><i class="ion-ios-eye"></i> VIEWS</div>
        </div>
    </div>
    </div>
  </ion-content>
</ion-view>
