<ion-view name="tab-registerp2" view-title="Color.in">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="btn-white  ion-chevron-left header-icon-size back" back></button>
    </ion-nav-buttons>
</ion-nav-bar>
 <ion-content class="perfil">
   <div class="itemRegistration">
     Item Upload
     <div class="list list-inset">
       <label class="item item-input">
         <input type="text" placeholder="Art Name" ng-model="data.artName">
       </label>
       <label class="item item-input">
         <input type="text" placeholder="Art Description" ng-model="data.artDescription">
       </label>
       <input type="file" placeholder="artImg" id="artImg" fileread="data.artImg"> {{arquivo}}
       <button  ng-click="enviarImg()">Enviar</button>
        <div id="mensagem">
        </div>
   </div>
   <button class="button button-block button-calm buttonFinish" ng-click="registerart()">Done</button>

  </div>
 </ion-content>
</ion-view>
