<ion-view name="tab-item" view-title="Color.in">
  <ion-content class="perfil">

    <section>
      <div class="Register_h1">
        <p>Personal Information</p>
      </div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date of Birth</span>
          <input type="date" placeholder="Date of Birth">
        </label>
      </div>
      <div class="Register_h1">
        <p>Location</p>
      </div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Postal Code</span>
          <input type="text" placeholder="Postal Code">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">City</span>
          <input type="text" placeholder="City">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">State</span>
          <input type="text" placeholder="State">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Country</span>
          <input type="text" placeholder="Country">
        </label>
<!-- Seção de dados de registro e entrada no sistema -->
        <div class="Register_h1">
          <p>Access Settings</p>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">Profile URL</span>
          <input type="text" placeholder="Profile URL">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="text" placeholder="Password" ng-model="loginData.password">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm Password</span>
          <input type="text" placeholder="Confirm Password">
        </label>
      <button ng-click="registrarp1()">
        Next
      </button>
    </section>
  </ion-content>
</ion-view>
