<ion-view name="tab-item" view-title="Color.in">
  <ion-content class="perfil">

    <section>
      <div class="Register_h1">
        <p>Personal Information</p>
      </div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email">
        </label>
      </div>
      <div class="Register_h1">
        <p>Login Settings</p>
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Password">
      </label>
      <button ng-click="registrar_p1()">
        Go Ahead
      </button>
    </section>
  </ion-content>
</ion-view>
