<ion-view view-title="Color.in" >
  <ion-content>
    <div class="banner-container-profile">
      <img class="banner-home" src="../img/banner1.jpeg">
    </div>
    <div class="row linhaDescricao" class="col-12">
      <div id="colunaEsquerda1" class="col">
         <div class="square">
          <div class="content">
            <img class="profilephoto" src="../img/perry.png">
          </div>
        </div>
      </div>
        <div id="colunaDireita1"class="col">
            INFORMAÇÕES
      </div>
    </div>
    <div class="row linhaTab">
      <div id="colunaEsquerda1" class="col">
         <div class="square">
          <div class="content">
            <img src="../img/art1.jpeg" ng-click="item()">
          </div>
        </div>
      </div>
        <div id="colunaDireita1"class="col">
         <div class="square">
          <div class="content">
            <img src="../img/art2.jpg">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
