<ion-view view-title="Color.in" >
  <ion-nav-buttons side="left">
      <button class="btn-white  ion-chevron-left header-icon-size back" back  ></button>
  </ion-nav-buttons>
  <ion-content>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
    <div class="banner-container-profile">
      <img class="banner-home" ng-src="{{data.banner}}">
    </div>
    <div class="userInfo">
     <div class="row profile">
       <div class="col"></div>
       <div class="col col-40 itemProfile">
            <img class="imgProfilePhoto" ng-src="{{data.profilephoto}}">
      </div>
      <div class="col"></div>
    </div>
      <div class="col profileInfo">
        <h2 class="profileUsername">{{data.username}}</h2>
        <p class="profileDescription">{{data.description}}</p>
      </div>
      <div class="row profileStatus">
        <div class="col col-33 colSenseHome"><i class="ion-ios-heart"></i>{{totalSenses}}</div>
        <div class="col col-33 colColabHome"><i class="ion-ios-chatboxes"></i>{{totalCollabs}}</div>
        <div class="col col-33 colViewHome"><i class="ion-ios-eye"></i>{{totalViews}}</div>
      </div>
    </div>
      <!-- <button class="button button-block button-assertive" ng-click="newpost()">
           New Post
       </button> -->
    <!-- <div class="row rowProfile">
      <div ng-repeat="item in items" class="col col-50 itemProfile">
         <div class="square">
          <div class="content">
            <img class="imgProfile" ng-src="{{item}}" ng-click="item()">
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div ng-repeat="item in items" class="list card">
      <div class="item item-avatar itemHomeInfo">
        <img ng-src="{{item.profilephoto}}">
        <div class="userInfoHome">
          <h2 class="artName">{{item.artName}}</h2>
          <p class="artArtist">{{item.username}}</p>
        </div>
      </div>
      <img class="full-image" ng-src="{{item.artImg}}">
    <div class="item item-body itemHome"></div>
      <div class="row rowSenses" ng-class="{ 'hidden': ! showSenses }">
        <div class="col colPurple">
          <div class="square squarePurple"></div>
        </div>
        <div class="col colRed">
          <div class="square squareRed"></div>
        </div>
        <div class="col colOrange">
          <div class="square squareOrange"></div>
        </div>
        <div class="col colYellow">
          <div class="square squareYellow"></div>
        </div>
        <div class="col colGreen">
          <div class="square squareGreen"></div>
        </div>
        <div class="col colBlue">
          <div class="square squareBlue"></div>
        </div>
        <div class="col colWhite">
          <div class="square squareWhite"></div>
        </div>
      </div>
          <div class="list colabBox" ng-class="{ 'hidden': ! showColabs }">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Colab">
            </label>
            <button class="button button-small" ng-click="showColabs = ! showColabs">
              Submit
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 colSenseHome" ng-click="showSenses = ! showSenses"><i class="ion-ios-heart"></i> 100</div>
          <div class="col col-33 colColabHome" ng-click="showColabs = ! showColabs"><i class="ion-ios-chatboxes"></i> 120</div>
          <div class="col col-33 colViewHome"  ng-click="goItem(item)"><i class="ion-ios-eye"></i> 109</div>
        </div>
      </div> -->
      <div class="row rowSearch">
        <div ng-repeat="item in items" class="col col-50 itemSearch">
        <div class="item item-body itemSearch">
          <div class="square">
           <div class="content">
          <img class="full-image search" ng-src="{{item.artImg}}">
          </div>
            </div>
          </div>
          <div ng-class="myDynamicClass2" class="row rowSearchItem" ng-click="viewInsert(item.artName); goItem(item)">
            <div class="col col-33 colSenseSearch"><i class="ion-ios-heart"></i>{{item.sense.length}}</div>
            <div class="col col-33 colColabSearch"><i class="ion-ios-chatboxes"></i>{{item.collab.length}}</div>
            <div class="col col-33 colViewSearch"><i class="ion-ios-eye"></i>{{item.view.length}}</div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
