<ion-view>
  <ion-content class="perfil">
    <section>
      <div class="list list-inset entrada">
        <label class="item item-input user">
          <input type="text" placeholder="User">
        </label>
        <label class="item item-input password">
          <input type="text" placeholder="Password">
        </label>
      </div>
      <br>
      <div class="buttons">
        <button class="button button-assertive btnsin" ng-click="clicar()">
          Sign In
        </button>
        <br>
        <button class="button button-positive btnsup">
          Sign Up
        </button>
      </div>
    </section>
  </ion-content>
</ion-view>
