<ion-view view-title="Color.in" >
  <ion-nav-buttons side="right">
      <button class="button button-assertive btn-white ion-navicon-round header-icon-size " ng-click="openDrawer()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="banner-container-profile">
      <img class="banner-home" src="../img/banner1.jpeg">
    </div>
    <div class="row">
      <div class="col col-50 itemProfile">
         <div class="square">
          <div class="content">
            <img class="imgProfile" src="../img/perry.png">
          </div>
          </div>
      </div>
        <div class="col col-50 itemProfile">
          Mateus Bentivegna é estudante de design gráfico pelo Centro Universitário Belas Artes de São Paulo.
        </div>
    </div>
    <div class="row rowProfile">
      <div ng-repeat="item in items" class="col col-50 itemProfile">
         <div class="square">
          <div class="content">
            <img class="imgProfile" ng-src="{{item}}" ng-click="item()">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
