<ion-view view-title="Color.in">
  <ion-content>
<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
  <ion-refresher
      pulling-text="Pull To Refresh"
      pulling-icon="ion-chevron-down"
      spinner="ripple"
      refreshing-text="Refreshing"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="banner-container-home">
      <img class="banner-home" src="../img/bannercolorin.jpg">
    </div>
    <div ng-repeat="item in items" class="list card">
      <div class="item item-avatar itemHomeInfo">
        <img ng-src="{{item.profilephoto}}">
        <div class="userInfoHome">
          <h2 class="artName">{{item.artName}}</h2>
          <p class="artArtist">{{item.username}}</p>
        </div>
      </div>
      <img class="full-image" ng-src="{{item.artImg}}">
      <div class="item item-body itemHome"></div>
      <div class="row rowSenses" ng-class="{ 'hidden': ! showSenses }">
        <div class={{sense.colorClass}} ng-repeat="sense in senses" ng-click="senseInsert(item.artName, sense.colorName)">
          <div class={{sense.squareClass}}></div>
        </div>
      </div>
      <div class="list colabBox" ng-class="{ 'hidden': ! showColabs }">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Colab" ng-model="collabText">
          </label>
          <button class="button button-small" ng-click="collabInsert(item.artName, collabText)">
            Submit
          </button>
        </div>
      </div>
      <!-- <img class="full-image" ng-src="{{item.artImg}}">
    <div class="item item-body itemHome"></div>
      <div class="row rowSenses" ng-class="{ 'hidden': ! showSenses }">
        <div class="col colPurple">
          <div class="square squarePurple"></div>
        </div>
        <div class="col colRed">
          <div class="square squareRed"></div>
        </div>
        <div class="col colOrange">
          <div class="square squareOrange"></div>
        </div>
        <div class="col colYellow">
          <div class="square squareYellow"></div>
        </div>
        <div class="col colGreen">
          <div class="square squareGreen"></div>
        </div>
        <div class="col colBlue">
          <div class="square squareBlue"></div>
        </div>
        <div class="col colWhite">
          <div class="square squareWhite"></div>
        </div>
      </div>
          <div class="list colabBox" ng-class="{ 'hidden': ! showColabs }">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Colab">
            </label>
            <button class="button button-small" ng-click="showColabs = ! showColabs">
              Submit
            </button>
          </div>
        </div> -->
        <div class="row">
          <div class="col col-33 colSenseHome" ng-click="showSenses = ! showSenses"><i class="ion-ios-heart"></i> 100</div>
          <div class="col col-33 colColabHome" ng-click="showColabs = ! showColabs"><i class="ion-ios-chatboxes"></i> 120</div>
          <div class="col col-33 colViewHome"  ng-click="goItem(item)"><i class="ion-ios-eye"></i> 109</div>
        </div>
      </div>
  </ion-content>
</ion-view>
