<ion-view name="tab-item" view-title="Color.in">
  <ion-content class="perfil">    <div class="banner-container-home">
        <img class="banner-home" src="../img/bannercolorin.jpg">
      </div>
      <div class="personalInfo">
        Personal Information
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="data.firstName">
          </label>
          <label class="item item-input item-floating-label">
            <input type="text" placeholder="Last Name" ng-model="data.lastName">
          </label>
          <label class="item item-input item-floating-label">
            <input type="text" placeholder="Email" ng-model="data.email">
          </label>
          <label class="item item-input item-stacked-label">
            <input type="date" placeholder="Date of Birth" ng-model="data.birth">
          </label>
        </div>
      </div>
<!-- Seção de dados de registro e entrada no sistema -->
        <div class="userSettings">
          User Settings
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input password">
              <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <input type="file" placeholder="artImg" id="artImg" fileread="data.profilephoto"> {{arquivo}}
            <button  ng-click="enviarBanner()">Enviar</button>
             <div id="mensagem">
             </div>
                <!-- <label class="item item-input item-floating-label">
                <span class="input-label">Confirm Password</span>
                <input type="text" placeholder="Confirm Password" ng-model="dados.nome">
                </label> -->
          </div>
        </div>
        <button class="button button-block button-calm buttonFinish" ng-click="register()">Done</button>
  </ion-content>
</ion-view>
