/*General*/

/*.card{
  border-radius: 3%;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child{
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
}

.list.list-inset{
    border-radius: 3%;
}*/

/*Header*/
.bar .title.title-left {
    text-align: center;
}

 /*Banner*/

.banner-container-home{
  height: 20% !important;
}

.banner-home{
  max-width: 100%;
}

/*Tabs (bottom)*/
a.tab-item{
  border: 0 !important;
}

.tab-item-active .ion-ios-home{
  color: #ED5565 !important;
}

.tab-item-active .ion-ios-search-strong{
  color: #FFCE54 !important;
}

.tab-item-active .ion-ios-person{
  color: #5D9CEC !important;
}

/*Home*/
/*cores
vermelho:FF94A1
amarelo:FFF589
azul:BEC4F2
color: #DC0000;

color: #F4DF00;

color: #0941C1;
*/

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{
  top: 6px;
  left: 6px;
  max-width: 60px;
  max-height: 60px;
}

.itemHome{
    background-color: white;
    border: 0px solid white;
    font-weight: 500;
    font-family: 'Dosis', serif;
    font-size: large;
}

.item-body.itemHome{
  padding: 0px !important;
  border-bottom: 15px solid #BEC4F2 !important;
}

.itemHomeInfo{
    background-color: #BEC4F2;
    color: white;
    border-bottom: 10px solid white;
}

.itemHomeInfo h2{
    color: black;
    font-weight: bold;
    font-family: 'Dosis', serif;
}

.itemHomeInfo p{
    color: black;
    font-style: italic;
    font-family: 'Dosis', serif;
}

.colSenseHome{
  text-align: left;
  color: #DC0000;
  font-size: 23px;
}

.colColabHome{
  text-align: center;
  color: #F4DF00;
  font-size: 23px;
}

.colViewHome{
  text-align: right;
  color: #0941C1;
  font-size: 23px;
}

/*Search*/
.itemSearch{
    background-color: white;
    border: 0px solid white;
    font-weight: 500;
    font-family: 'Dosis', serif;
    font-size: large;
}

.item-body.itemSearch{
  padding: 0px !important;
}

.rowSearchItem{
  border-bottom: 15px solid #BEC4F2 !important;
}

.rowSearch{
  flex-wrap: wrap;
}

.imgSearch{
  border: 5px solid #ED5565;
}

.full-image {
    width: 100%;
    height: 100%;
  }

  .colSenseSearch{
    text-align: left;
    color: #DC0000;
    font-size: 17px;
  }

  .colColabSearch{
    text-align: center;
    color: #F4DF00;
    font-size: 17px;
  }

  .colViewSearch{
    text-align: right;
    color: #0941C1;
    font-size: 17px;
  }
/*Profile*/
.itemProfile{
}

.rowProfile{
  flex-wrap: wrap;
}

.imgProfile{
  border: 5px solid #ED5565;
  border-radius: 15px;
}

.imgProfilePhoto{
    border-radius: 50%;
    border: 3px solid white;
}

.userInfo{
  position: relative;
  padding-top: 9%;
}

.profileInfo{
  text-align: center;
}

.banner-container-profile{
  height: 20%;
  position: absolute;
}

/*Item*/
.itemItem{
    background-color: #ED5565;
    border: 3px solid #ED5565;
    color: white;
}

.itemItemInfo{
    background-color: #ED5565;
}

.itemColabs{
  border: 3px solid #ED5565;
}

.itemItemInfo h2{
    color: white;
    font-weight: bold;
}

.itemItemInfo p{
    color: white;
    font-style: italic;
}

.colabBox{
  background-color: #ED5565;
  margin: -3%;
}

.item-input-wrapper ~ .button{
  font-size: large;
  color: #FFCE54;
  background-color: #ED5565;
  border: 1px solid #FFCE54;
}

.item-input-wrapper{
  color: #FFCE54;
  background-color: #ED5565;
  border: 1px solid #FFCE54;
}

.inputColab{
    color: #FFCE54 !important;
    font-weight: bold;
  }
}

/*Frames e Imagens*/
.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgSearch {
  height: 100%;
  width: 100%;
}

/* Configurações - aba Login*/

.button.button-assertive {
    border-color: transparent;
    background-color: #ED5565;
    color: #FFCE54;
    width: 100%;
  }

.button.button-positive{
  border-color: transparent;
  background-color: #5D9CEC;
  color: #FFCE54;
  width: 100%;
}

.loginForm{
  padding-top: 5%;
}

/*Register Tabs */

.personalInfo{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.userSettings{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.profileSetting{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.buttonFinish{
  background-color: #FFCE54 !important;
  color: black;
}

.button.button-calm{
  color: #ED5565;
}

.itemRegistration{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}
