/*General*/

/*Header*/
.bar .title.title-left {
    text-align: center;
}

 /*Banner*/

.banner-container-home{
  height: 20% !important;
}

.banner-home{
  max-width: 100%;
}

/*Tabs (bottom)*/
a.tab-item{
  border: 0 !important;
}

.tab-item-active .ion-ios-home{
  color: #ED5565 !important;
}

.tab-item-active .ion-ios-search-strong{
  color: #FFCE54 !important;
}

.tab-item-active .ion-ios-person{
  color: #5D9CEC !important;
}

/*Home*/
/*cores
vermelho:FF94A1
amarelo:FFF589
azul:BEC4F2
color: #DC0000;

color: #F4DF00;

color: #0941C1;
*/

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{
  top: 6px;
  left: 6px;
  max-width: 60px;
  max-height: 60px;
}

.itemHome{
    background-color: white;
    border: 0px solid white;
    font-weight: 500;
    font-family: 'Dosis', serif;
    font-size: large;
}

.item-body.itemHome{
  padding: 0px !important;
  border-bottom: 15px solid #FFB17E !important;
}

.itemHomeInfo{
    background-color: #FFB17E;
    color: white;
    border-bottom: 10px solid white;
}

.itemHomeInfo h2{
    color: black;
    font-weight: bold;
    font-family: 'Dosis', serif;
}

.itemHomeInfo p{
    color: black;
    font-style: italic;
    font-family: 'Dosis', serif;
}

.colSenseHome{
  text-align: left;
  color: #DC0000;
  font-size: 23px;
  font-family: 'Dosis', serif;
}

.colColabHome{
  text-align: center;
  color: #F4DF00;
  font-size: 23px;
  font-family: 'Dosis', serif;
}

.colViewHome{
  text-align: right;
  color: #0941C1;
  font-size: 23px;
  font-family: 'Dosis', serif;
}

.squareYellow{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #FFF589 ;
}

.squareGreen{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #8DCF8A;
}

.squareBlue{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #BEC4F2;
}

.squareViolet{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: violet;
}

.squareRed{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #FF7474;
}

.squareOrange{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #FFB17E;
}

.squareWhite{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #F1F1F1;
}

.squarePurple{
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #ED95C7;
}
.rowSenses{
  /*background-color: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;*/
  transition: 1s;
  overflow: hidden;
  background-color: #FFB17E;
}

.rowSenses.hidden {
    max-height: 0;
}

.colabBox{
  /*background-color: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;*/
  transition: 1s;
  overflow: hidden;
  background-color: #FFB17E;
  background-color: #BEC4F2;
  margin: -3%;
}

.colabBox.hidden {
    max-height: 0;
}

/*Search*/
.itemSearch{
    background-color: white;
    border: 0px solid white;
    font-weight: 500;
    font-family: 'Dosis', serif;
    font-size: large;
}

.item-body.itemSearch{
  padding: 0px !important;
}

.rowSearchItem{
  border-bottom: 15px solid #BEC4F2 !important;
}

.rowSearch{
  flex-wrap: wrap;
}

.imgSearch{
  border: 5px solid #ED5565;
}

.full-image {
    width: 100%;
    height: 100%;
  }

  .colSenseSearch{
    text-align: left;
    color: #DC0000;
    font-size: 14px;
  }

  .colColabSearch{
    text-align: center;
    color: #F4DF00;
    font-size: 14px;
  }

  .colViewSearch{
    text-align: right;
    color: #0941C1;
    font-size: 14px;
  }
/*Profile*/
.itemProfile{
}

.rowProfile{
  flex-wrap: wrap;
}

.imgProfile{
  border: 5px solid #ED5565;
  border-radius: 15px;
}

.imgProfilePhoto{
    border-radius: 50%;
    border: 3px solid white;
    max-width: 100%;
}

.userInfo{
  position: relative;
  padding-top: 9%;
}

.profileInfo{
  text-align: center;
}

.banner-container-profile{
  height: 20%;
  position: absolute;
}

/*Item*/
.itemItem{
  background-color: white;
  border: 0px solid white;
  font-weight: 500;
  font-family: 'Dosis', serif;
  font-size: large;
}

.itemItemInfo{
    background-color: #ED5565;
}

.itemColabs{
  border: 3px solid #BEC4F2;
  background-color: #BEC4F2;
  color: black;
}

.itemItemInfo h2{
    color: white;
    font-weight: bold;
}

.itemItemInfo p{
    color: white;
    font-style: italic;
}

  .item-input-wrapper ~ .button{
    font-size: large;
    color: #F4DF00;
    background-color: #BEC4F2;
    border: 1px solid #F4DF00;
    font-weight: bold;
  }

.item-input-wrapper{
  color: black;
  background-color: #BEC4F2;
  border: 1px solid #F4DF00;
}

.inputColab{
    color: black !important;
    font-weight: bold;
  }
}

/*Frames e Imagens*/
.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgSearch {
  height: 100%;
  width: 100%;
}

/* Configurações - aba Login*/

.button.button-assertive {
    border-color: transparent;
    background-color: #ED5565;
    color: #FFCE54;
    width: 100%;
  }

.button.button-positive{
  border-color: transparent;
  background-color: #5D9CEC;
  color: #FFCE54;
  width: 100%;
}

.loginForm{
  padding-top: 5%;
}

/*Register Tabs */

.profileUsername{
  font-weight: 500;
  font-family: 'Dosis', serif;
}

.profileDescription{
  font-weight: 500;
  font-family: 'Dosis', serif;
  font-size: 16px;
}

.profileStatus{
  font-weight: 500;
  font-family: 'Dosis', serif;
  font-size: large;
}

.personalInfo{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.userSettings{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.profileSetting{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.buttonFinish{
  background-color: #FFCE54 !important;
  color: black;
}

.button.button-calm{
  color: #ED5565;
}

.itemRegistration{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}
