/*General*/

.card{
  border-radius: 10%;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.list.list-inset{
    border-radius: 15px;
}

/*Header*/
.bar .title.title-left {
    text-align: center;
}

 /*Banner*/

.banner-container-home{
  height: 33%;
}

/*Tabs (bottom)*/
a.tab-item{
  border: 0 !important;
}

.tab-item-active .ion-ios-home{
  color: #ED5565 !important;
}

.tab-item-active .ion-ios-search-strong{
  color: #FFCE54 !important;
}

.tab-item-active .ion-ios-person{
  color: #5D9CEC !important;
}

/*Home*/
.itemHome{
    background-color: #ED5565;
    border: 3px solid #ED5565;
    color: white;
}

.itemHomeInfo{
    background-color: #ED5565;
    color: white;
}

.itemHomeInfo h2{
    color: white;
    font-weight: bold;
}

.itemHomeInfo p{
    color: white;
    font-style: italic;
}

/*Search*/
.itemSearch{
}

.rowSearch{
  flex-wrap: wrap;
}

.imgSearch{
  border: 5px solid #ED5565;
}

/*Profile*/
.itemProfile{
}

.rowProfile{
  flex-wrap: wrap;
}

.imgProfile{
  border: 5px solid #FF3F3F;
}

.imgProfilePhoto{
    border-radius: 50%;
    border: 3px solid white;
}

.userInfo{
  position: relative;
  padding-top: 9%;
}

.profileInfo{
  text-align: center;
}

.banner-container-profile{
  height: 20%;
  position: absolute;
}

/*Item*/
.itemItem{
    background-color: #FFBCBA;
    border: 3px solid #FF8282;
}

.itemItemInfo{
    background-color: #FFBCBA;
}

.itemColabs{
  border: 3px solid #FF8282;
}


/*Frames e Imagens*/
.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
}

/* Configurações - aba Login*/

.button.button-assertive {
    border-color: transparent;
    background-color: #ED5565;
    color: #FFCE54;
    width: 100%;
  }

.button.button-positive{
  border-color: transparent;
  background-color: #5D9CEC;
  color: #FFCE54;
  width: 100%;
}

.loginForm{
  padding-top: 40%;
}

/*Register Tabs */

.personalInfo{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.userSettings{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.profileSetting{
  font-size: large;
  color: #FFCE54;
  text-align: center;
  background-color: #ED5565;
  padding-top: 5%;
}

.buttonFinish{
  background-color: #FFCE54 !important;
  color: black;
}

.button.button-calm{
  color: #ED5565;
}
/*.Register_name{
  display: flex;
  flex: auto;
}*/
